## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [92]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [93]:
# Your code here
sample_list_1 = random.sample(range(101), 80)
print('\n',type(sample_list_1), '\n')
print(sample_list_1, '\n')
print('Number of Elements:',len(sample_list_1))
for i in sample_list_1:
    if sample_list_1.count(i) > 1:
        print('REPEATED NUMBERS')

 <class 'list'>

[79, 31, 78, 7, 71, 100, 35, 69, 54, 21, 38, 33, 57, 93, 87, 51, 6, 12, 77, 34, 50, 89, 46, 17, 28, 86, 64, 96, 70, 36, 13, 81, 76, 84, 27, 52, 68, 11, 73, 20, 83, 94, 55, 59, 97, 99, 4, 49, 16, 2, 58, 42, 30, 44, 39, 15, 53, 92, 72, 26, 0, 63, 47, 85, 10, 75, 25, 18, 19, 24, 56, 8, 5, 88, 60, 61, 74, 22, 82, 23]

Number of Elements: 80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [94]:
# Your code here

set1 = set(sample_list_1)
print('\n', type(set1), '\n')
print(set1, '\n')
print('Number of Elements:', len(set1))

 <class 'set'>

{0, 2, 4, 5, 6, 7, 8, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 33, 34, 35, 36, 38, 39, 42, 44, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 92, 93, 94, 96, 97, 99, 100}

Number of Elements: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [95]:
# Your code here

sample_list_2 = [random.randint(0,100) for i in range(80)]
print(type(sample_list_2), '\n')
print(sample_list_2, '\n')
print('The List contains:', len(sample_list_2), 'elements.', '\n')

<class 'list'>

[4, 39, 77, 11, 88, 74, 21, 87, 25, 85, 23, 3, 37, 13, 20, 52, 4, 36, 53, 61, 41, 91, 42, 43, 28, 19, 66, 8, 57, 99, 93, 13, 65, 21, 61, 99, 53, 28, 43, 70, 97, 18, 56, 32, 1, 18, 88, 35, 97, 41, 63, 92, 46, 47, 41, 88, 67, 49, 11, 65, 7, 86, 37, 66, 22, 55, 46, 2, 65, 40, 24, 30, 50, 33, 37, 74, 3, 25, 70, 80]

The List contains: 80 elements.

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [96]:
# Your code here

set2 = set(sample_list_2)
print('\n', type(set2), '\n')
print(set2, '\n')
print('Number of Elements:', len(set2))

 <class 'set'>

{1, 2, 3, 4, 7, 8, 11, 13, 18, 19, 20, 21, 22, 23, 24, 25, 28, 30, 32, 33, 35, 36, 37, 39, 40, 41, 42, 43, 46, 47, 49, 50, 52, 53, 55, 56, 57, 61, 63, 65, 66, 67, 70, 74, 77, 80, 85, 86, 87, 88, 91, 92, 93, 97, 99}

Number of Elements: 55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [97]:
# Your code here

set3 = set1 - set2
print('\n', type(set3), '\n')
print(set3, '\n')
print('Number of Elements:', len(set3))

 <class 'set'>

{0, 5, 6, 10, 12, 15, 16, 17, 26, 27, 31, 34, 38, 44, 51, 54, 58, 59, 60, 64, 68, 69, 71, 72, 73, 75, 76, 78, 79, 81, 82, 83, 84, 89, 94, 96, 100}

Number of Elements: 37

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [98]:
# Your code here

set4 = set2 - set1
print('\n', type(set4), '\n')
print(set4, '\n')
print('Number of Elements:', len(set4))

 <class 'set'>

{32, 1, 65, 3, 66, 37, 67, 40, 41, 43, 80, 91}

Number of Elements: 12

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [99]:
# Your code here

set5 = set1.intersection(set2)
print('\n', type(set5), '\n')
print(set5, '\n')
print('Number of Elements:', len(set5))

 <class 'set'>

{2, 4, 7, 8, 11, 13, 18, 19, 20, 21, 22, 23, 24, 25, 28, 30, 33, 35, 36, 39, 42, 46, 47, 49, 50, 52, 53, 55, 56, 57, 61, 63, 70, 74, 77, 85, 86, 87, 88, 92, 93, 97, 99}

Number of Elements: 43

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [100]:
# Your code here

keys = ['set1', 'set2', 'set3', 'set4', 'set5']
values = [
len(set1),
len(set2),
len(set3),
len(set4),
len(set5)
     ]
number_elements = {keys[i]:values[i] for i in range(len(keys))}
print('\n', number_elements,'\n')
formula = '''
    set_universe = set1 + set2 - set5 = {total1} Total Elements
    
    n(set1 ∪ set2) = n(set1) + n(set2) - n(set1 ∩ set2) 
    
    set_universe = set3 + set4 + set5 = {total2} Total Elements
    
    n(set1 ∪ set2) = n(set1') + n(set2') + n(set1 ∩ set2) 
'''.format(total1=str(values[0]+values[1]-values[-1]), total2=str(values[2]+values[3]+values[-1]))
print('The Relationship of these sets is represented through these formulas:', '\n', formula)

 {'set1': 80, 'set2': 55, 'set3': 37, 'set4': 12, 'set5': 43}

The Relationship of these sets is represented through these formulas:

    set_universe = set1 + set2 - set5 = 92 Total Elements

    n(set1 ∪ set2) = n(set1) + n(set2) - n(set1 ∩ set2)

    set_universe = set3 + set4 + set5 = 92 Total Elements

    n(set1 ∪ set2) = n(set1') + n(set2') + n(set1 ∩ set2)

#### Create an empty set called `set6`.

In [101]:
# Your code here

set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [102]:
# Your code here

set6.update(set3, set5)
print('\n', type(set6),'\n')
print(set6, '\n')
print('Number of Elements:', len(set6))

 <class 'set'>

{0, 2, 4, 5, 6, 7, 8, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 33, 34, 35, 36, 38, 39, 42, 44, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 92, 93, 94, 96, 97, 99, 100}

Number of Elements: 80

#### Check if `set1` and `set6` are equal.

In [103]:
# Your code here
print('\n', 'Set1:', type(set1),'\n')
print(set1, '\n')
print('\n', 'Set6:', type(set6),'\n')
print(set6, '\n')
if set6 == set1:
    print('Set6 and Set1 contain the SAME ELEMENTS')

 Set1: <class 'set'>

{0, 2, 4, 5, 6, 7, 8, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 33, 34, 35, 36, 38, 39, 42, 44, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 92, 93, 94, 96, 97, 99, 100}


 Set6: <class 'set'>

{0, 2, 4, 5, 6, 7, 8, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 33, 34, 35, 36, 38, 39, 42, 44, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 92, 93, 94, 96, 97, 99, 100}

Set6 and Set1 contain the SAME ELEMENTS

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [104]:
# Your code here

help(set.issubset)
print('It is {} that Set1 contains Set2'.format(set2.issubset(set1)), '\n')
print('It is {} that Set1 contains Set3'.format(set3.issubset(set1)))

Help on method_descriptor:

issubset(...)
    Report whether another set contains this set.

It is False that Set1 contains Set2

It is True that Set1 contains Set3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [105]:
# Your code here

union345 = set3.union(set4, set5)
union12 = set1.union(set2)
print('\n', 'Set3 U Set4 U Set5:', type(union345),'\n')
print(union345, '\n')
print('\n', 'Set1 U Set2:', type(union12),'\n')
print(union12, '\n')
if union345 == union12:
    print('Set3 U Set4 U Set5 and Set1 U Set2 are EQUALS')

 Set3 U Set4 U Set5: <class 'set'>

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 96, 97, 99, 100}


 Set1 U Set2: <class 'set'>

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 96, 97, 99, 100}

Set3 U Set4 U Set5 and Set1 U Set2 are EQUALS

#### Using the `pop` method, remove the first element from `set1`.

In [106]:
# Your code here

help(set.pop) 

### pop in sets: no acepta ningun parametro 
### por lo que se convertira el set a una lista, y de lista a set despues del pop ...

print('\n', 'Set1:', type(set1),'\n')
print(set1, '\n')
print('Number of Elements:',len(set1), '\n')
print('After .pop Set1:', '\n')
set1 = list(set1)
print('Element popped:', set1.pop(0), '\n')
set1 = set(set1)
print('Set1:', type(set1),'\n')
print(set1, '\n')
print('Number of Elements:',len(set1), '\n')

Help on method_descriptor:

pop(...)
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.


 Set1: <class 'set'>

{0, 2, 4, 5, 6, 7, 8, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 33, 34, 35, 36, 38, 39, 42, 44, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 92, 93, 94, 96, 97, 99, 100}

Number of Elements: 80

After .pop Set1:

Element popped: 0

Set1: <class 'set'>

{2, 4, 5, 6, 7, 8, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 30, 31, 33, 34, 35, 36, 38, 39, 42, 44, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 92, 93, 94, 96, 97, 99, 100}

Number of Elements: 79

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [107]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print('Elements to be removed:', list_to_remove, '\n')
set1 = set1.difference(list_to_remove)
print('Set1 after removing elements:','\n')
print(set1, '\n')
print('Number of Remaining Elements:', len(set1))

Elements to be removed: [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

Set1 after removing elements:

{2, 4, 5, 6, 7, 8, 10, 12, 13, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 33, 34, 35, 36, 38, 42, 44, 46, 47, 50, 52, 53, 54, 55, 56, 57, 58, 60, 63, 64, 68, 70, 72, 73, 74, 75, 76, 77, 78, 82, 83, 84, 85, 86, 87, 88, 92, 93, 94, 96, 97, 100}

Number of Remaining Elements: 64